.input-gap{
    display: flex;
    flex-direction: column;
    justify-content: center center;
    align-items: center;
    margin: 300px 0;
}
.input-gap input{
    width: 500px;
    height: 50px;
    border: 1px solid gray;
    outline-color: #e78171be;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 100px;
}
.input-btn{
    width: 100px !important;
    background-color: tomato;
    color: white;
    font-weight: 700;
}
