.contact-bg{
    background: -webkit-linear-gradient(left, #faf9f9, #f7faff);
    padding-top: 20px;
}
.contact-form{
    background: #fff;
    margin-top: 3%;
    width: 60%;
    border-radius: 30px;
}
.contact-form .form-control{
    border-radius:1rem;
    margin: 15px 0;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #e8604c;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #e8604c;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #e8604c;
    border: none;
    cursor: pointer;
}
.form-size{
    width: 100%;
    height: 150px;
}